.footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--bg-footer);
    position: sticky;
    bottom: 0;
    

}

.enlaces-grid {
    display: none;
}


.enlaces p {
    display: none;
}

.lista-rrss img {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0.25rem 0;
    width: 32px; 
    height: 32px;
    object-fit: cover;
    filter: grayscale(100%);
}

.contacto {
    list-style: none;
}
