* {
    font-family: 'Karla' ,Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #A9CCE3;
    padding: 0 100px 0;
    
}

body > .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header { 
    /* Esto nos sirve para centrar la imagen del header */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.titulo {
    font-size: 2.5rem;
}

.biografia {
    padding: 0 300px 300px;
    font-size: 2.5rem;
    text-shadow: white 1px 1px;
}

.img_biografia {
    float: left;
    padding: 0 30px;
}

