{% extends "base.html" %}

{% block contenido %}

<h1 class="titulo" align="center">Biografía</h1>
<section class="biografia">
    <img src="./static/img/img_1.jpg" alt="Rocio Ojuelos" class="img_biografia">
    <p>
        Rocío Ojuelos (nacida en 1996 en Lucena del Puerto, Huelva, 27 años) 
        es una cantautora onubense con una larga proyección musical.
    </p>
    <p>
        Se dio a conocer gracias a un vídeo que una amiga publicó en redes y 
        se hizo viral, el propio Antonio Orozco lo compartió. En 2017, llegó 
        a ser finalista de un programa de televisión y recibió el premio 
        Andalucía Excelente a la Mejor Artista Revelación.
    </p>
    <p>
        Tras varios años formándose musicalmente, estudiando técnica vocal, 
        guitarra y piano, Rocío se lanza como cantautora en el panorama del 
        pop nacional, estrenándose con su single Que digan, con el que ha 
        conseguido más de 2 millones de reproducciones. En el último año, ha 
        compartido escenario con India Martinez y Pastora Soler.
    </p>
    <p>
        Además de Que digan, ha publicado Duele, Gritaré y La chica de la 
        cristalera, entre otros.
        Sus seguidores coinciden al definir las cualidades de Rocío: 
        sensibilidad y pura emoción en cada una de sus letras; la cantante 
        se deja el alma detrás de todas sus canciones.
    
        Todas ellas formarán parte de su disco 'Alma', donde recopila
        una decena de canciones. 
    </p>
    <img src="" alt="">
</section>


{% endblock %}