{% extends "base.html" %}

{% block contenido %}

<h1 class="titulo"  align="center">Club de fans</h1>
<br>
<img src="./static/img/galeria/img_14.jpg" alt="Rocío en sus inicios" class="img-p">
<p class="p1">
    Este club nació el 28 de Junio de 2017.
    Nosotras conocimos a rocío por el programa televisivo de Canal Sur, Yo Soy Del Sur.
</p>
<p class="p1">
    Cuando ella salió del programa, un familiar mío y yo decidimos abrir una cuenta de Instagram en honor a ella,
    porque nos encantaba como cantaba. Todo comenzó como un pequeño club de fans que poco a poco fue creciendo
    junto a ella. Un privilegio porque hemos acompañado a nuestra artista con su cambio de estilo musical. 
    Al tiempo, cuando Rocío vio que todo esto iba en serio, comenzamos a ser Club de Fans Oficial de Rocío Ojuelos.
    La hemos seguido acompañando a lo largo de los años, disfrutando de sus éxitos como si fueran nuestros, viéndola 
    en conciertos donde apenas estaban 20 personas y la seguimos acompañando ahora que llena salas de música de gente
    que al igual que nosotras le encanta su música y todo lo que transmite que es lo más destacamos en ella.
</p>


{% endblock %}