{% extends "base.html" %}

{% block contenido %}

<h1 class="titulo">Próximos conciertos</h1>

<section>
    <div class="seccion-entradas">
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Madrid - Sala La Caverna
            </p>
            <p>
                27/04/2024 
            </p>
            <p>
                20:00h,
            </p>
            <a href="https://ticketandroll.com/evento/rocio-ojuelos-madrid-sala-la-caverna-27-abril/" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Tenerife - Búho Club La Laguna
            </p>
            <p>
                04/05/2024
            </p>
            <p>
                20:00h.
            </p>
            <a href="https://www.tomaticket.es/es-es/entradas-rocio-ojuelos-en-tenerife" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Sevilla - Sala La Sala
            </p>
            <p>
                10/05/2024
            </p>
            <p>
                21:30h.
            </p>
            <a href="https://ticketandroll.com/evento/rocio-ojuelos-en-concierto-en-sevilla-la-sala/" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Zaragoza - Sala Creedence
            </p>
            <p>
                17/05/2024
            </p>
            <p>
                21:00h.
            </p>
            <a href="https://entradium.com/events/rocio-ojuelos-en-sala-creedence-zaragoza" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Bilbao - Sala Cotton
            </p>
            <p>
                10/05/2024
            </p>
            <p>
                20:30h.
            </p>
            <a href="https://ticketandroll.com/evento/rocio-ojuelos-en-concierto-en-bilbao-sala-cotton-18-mayo/" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Málaga - Sala Marte
            </p>
            <p>
                01/06/2024
            </p>
            <p>

            </p>
            <a href="https://ticketandroll.com/evento/rocio-ojuelos-en-concierto-en-malaga-sala-marte-1-junio/" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Valencia - Sala El Volander
            </p>
            <p>
                07/06/2024
            </p>
            <p>
                22:30h.
            </p>
            <a href="https://ticketandroll.com/evento/rocio-ojuelos-en-concierto-en-valencia-sala-el-volander-7-junio/" class="botonentradas">Entradas</a>
        </div>
        <div class="seccion-item">
            <p>
                Rocío Ojuelos Barcelona - Sala New Fizz
            </p>
            <p>
                08/06/2024
            </p>
            <p>
                20:30h.
            </p>
            <a href="https://ticketandroll.com/evento/rocio-ojuelos-en-concierto-en-barcelona-sala-new-fizz-8-junio/" class="botonentradas">Entradas</a>
        </div>
    </div>
</section>



{% endblock %}