{% extends "base.html" %}

{% block contenido %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 class="titulo" align="center">Listado del registro del Club de Fans</h1>
<table class="tabla" align="center">
    <thead>
    <tr>
        <th>Núm. Socio</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>E-mail</th>
        <th>Teléfono</th>
        <th>Funciones</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.Nombre}}</td>
        <td>{{item.Apellidos}}</td>
        <td>{{item.Mail}}</td>
        <td>{{item.Telefono}}</td>
        <td>
          <a href="/update/{{item.id}}">
            <span class="boton1">Editar</span>
          </a>
          <a href="/delete/{{item.id}}">
            <span class="boton1">Borrar</span>
          </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<div class="boton" align="center">
  <button class="boton2">
      <a href="/new" class="text">Nuevo Registro</a> <br>
  </button>
</div>
<br>
<br>

{% endblock %}