{% extends "base.html" %}

{% block contenido %}

<h1 class="h1-noticias" align="center">Actualidad</h1>

<div class="div-noticias">
    <div class="li-noticias"><a href="#Noticia1">
        <img src="./static/img/noticias/portada-disco.jpg" alt="Portada disco" class="img-noticias"></a>
            <div class="h2-noticias">
                <div class="content">
                    Ya a la venta el primer disco: 'Alma'
                </div>
            </div>
    </div>
    <div class="li-noticias"><a href="#Noticia2">
        <img src="./static/img/noticias/disco.jpg" alt="Disco" class="img-noticias"></a>
            <div class="h2-noticias">
                <div class="content">
                    Rocío anuncia el lanzamiento de su albúm 'Alma'
                </div>
            </div>
    </div>
    <div class="li-noticias"><a href="#Noticia3">
        <img src="./static/img/noticias/qhclg.jpg" alt="Portada QHCLG" class="img-noticias"></a>
            <div class="h2-noticias">
                <div class="content">
                    Rocío presenta su último single ¿Qué hago con las ganas?
                </div>
            </div>
    </div>
    <div class="li-noticias"><a href="#Noticia4">
        <img src="./static/img/noticias/lcdlc.jpg" alt="Portada LCDLC" class="img-noticias"></a>
            <div class="h2-noticias">
                <div class="content">
                    'La chica de la cristalera', nuevo single del primer disco de Rocío Ojuelos
                </div>
            </div>
    </div>
</div>

<main>
    <section id="Noticia1">
        <div>
            <h2 class="titulo-noticia">
                Ya a la venta el primer disco: 'Alma'
            </h2>
            <img src="./static/img/noticias/Album-Alma.jpg" alt="Lanzamiento" class="img-not1">
            <p>
                ‘’Alma’’ es el primer disco de la cantautora onubense Rocío Ojuelos, 
                un álbum que llega tras dos años de trabajo en el mismo.
            </p>
            <p>
                Así ha explicado la cantante por qué "Alma":<br><br>
                "El Alma ha sido y es el aceite que engrasa la maquinaria necesaria 
                para que todo esto estésiendo posible. No solo mi alma, sino el de una 
                serie de personas que han pasado por mi vida durante este tiempo en 
                lo profesional y en lo personal. No hay más recurso que ese, mezclado 
                con la ilusión. Por último, y no menos importante, en las letras de 
                la palabra ALMA están escondidas las musas de todas las canciones; y 
                las iniciales de las personas más importantes de mi vida".<br><br>

                El tracklist del disco está compuesto de 12 canciones y una reflexión final:<br><br>
                1. "Búscame en esta canción"<br>
                2. Que digan<br>
                3. No te olvidé<br>
                4. Gritaré<br>
                5. Duele<br>
                6. Te echo de menos<br>
                7. Dentro de mi piel<br>
                8. ¿Hasta cuándo?<br>
                9. Te soltaré<br>
                10. Tenías que ser tú<br>
                11. La chica de la cristalera<br>
                12. Que digan - versión acústica<br>
                13. "21130"<br><br><br>

                De todas ellas, en varias ocasiones, la artista ha dejado 
                claro por cuál siente una debilidad: Duele.<br><br>

                El disco se puede comprar en su página web rocioojuelos.es<br><br>
            </p>
        </div>
    </section>
    <section id="Noticia2">
        <div>
            <img src="" alt="">
            <h2 class="titulo-noticia">
                Rocío anuncia el lanzamiento de su albúm 'Alma'
            </h2>
            <img src="./static/img/noticias/disco.jpg" alt="Disco" class="img-n2">
            <p>
                Ya conocemos varias canciones que Rocío ha ido adelantando 
                durante los últimos 2 años, la más reciente: La Chica de la
                Cristalera.<br>
            </p>
            
            <p>
                Rocío, además, ha desvelado el tracklist del álbum y este 
                contendrá 12 canciones y una reflexión final. Como ya expresó 
                en sus redes sociales, no habrá ninguna colaboración en él, 
                pero sí vendrán colaboraciones próximamente, tras el disco.<br><br>
            </p>
            <p>
                ALMA ha sido el nombre elegido para dar título a su primer 
                disco como cantautora.<br><br>


                Aunque no estará disponible hasta el 15 de diciembre, ya se 
                puede pre-reservar en su página web, y lo recibirás firmado 
                por la artista un día antes del lanzamiento. <br><br>
            </p>
        </div>
    </section>
    <section id="Noticia3">
        <div>
            <h2 class="titulo-noticia">
                Rocío presenta su último single ¿Qué hago con las ganas?
            </h2>
            <img src="./static/img/galeria/img_12.jpg" alt="Videoclip QHCLG" class="img-n3">
            <p>
                Este nuevo single se estrena el próximo 26 de noviembre a las 00:00.<br><br>

                'Un puñado de ganas y planes que se iban a quedar en el tintero y 
                en lugar de dejarlos coger polvo en el desván, los puse en el 
                papel y los convertí en canción próximo jueves 26 de octubre, 
                mis ganas serán también vuestras' anunciaba
                la artista a través de sus redes sociales.<br><br>

                En este nuevo tema, la artista nos cuenta sobre todo lo que nos queda
                por vivir y hacer cuando un amor se nos va y nos quedamos con las ganas 
                de disfrutarlo mas.<br><br>

                El videoclip está rodado por las calles de Madrid, la nueva ciudad donde
                vive la artista desde el pasado año y que tan enamorada la tiene.<br><br>

                La producción musical vuelve de la mano de Rodrigo Carmona, el productor
                de sus últimos temas y de su inminente disco.<br><br>
            </p>
        </div>
    </section>
    <section id="Noticia4">
        <div>
            <h2 class="titulo-noticia">
                'La chica de la cristalera', nuevo single del primer disco 
                de Rocío Ojuelos
            </h2>
            <img src="./static/img/galeria/img_5.jpg" alt="Videoclip LCDLC" class="img-n4">
            <p>
                La cantautora onubense ha estrenado un nuevo single, como 
                último avance del álbum que saldrá a finales de este año. 
                Con ‘’La chica de la cristalera’’, Rocío se ha atrevido 
                con unos ritmos y sonidos distintos a todo lo que nos 
                tiene acostumbrados.<br><br>
            </p>
            <p>
                En palabras de la cantante, se trata de una historia que 
                solo existió en su cabeza: ‘’Hace unos meses estaba tomando 
                algo con unas amigas y vi a una chica detrás de la 
                cristalera del bar donde estábamos. Se me quedó en la 
                retina y días después, transformé mis deseos en una canción’’.<br><br>

                La canción viene acompañada de un videoclip rodado en su 
                ciudad, Huelva, por el director Perianyiez, con la actriz 
                Lidia Patricio, donde se mezcla realidad y ficción; 
                momentos que ocurrieron con momentos que solo sucedieron 
                en la mente de la artista.<br><br>

                La producción musical es obra de Rodrigo Carmona.<br><br>

                Ya disponible en todas las plataformas digitales.<br><br>
            </p>
        </div>
    </section>
</main>


{% endblock %}